.container {
    display: flex;
    margin-top: 10px;

    .sidebar {
        min-width: 10%;
        max-width: 10%;

        div {
            cursor: pointer;

            &:hover {
                color: blue;
            }
        }
    }

    .mainItem {
        min-width: 90%;
        max-width: 90%;
        margin-left: 10px;

        .header {
            display: flex;
            flex-direction: row;

            .item {
                border-bottom: 1px solid rgba(0, 0, 0, 0.18);
                padding: 10px;

                &.active, &:hover {
                    color: #0048ff;
                    border-top: 1px solid rgba(0, 0, 0, 0.18);
                    border-left: 1px solid rgba(0, 0, 0, 0.18);
                    border-right: 1px solid rgba(0, 0, 0, 0.18);
                    border-bottom: none;
                }

                button {
                    background: inherit;
                    border: none;
                    box-shadow: none;
                    border-radius: 0;
                    padding: 0;
                    overflow: visible;
                    cursor: pointer;

                    &.btn {
                        color: inherit;

                        &:hover {
                            color: #0048ff;
                        }
                    }

                    &.btnClose {
                        position: absolute;
                        margin-top: -15px;
                        width: 15px;
                        height: 15px;
                        border-radius: 15px;
                        background-color: red;

                        &:after {
                            content: 'x';
                            color: #ffffff;
                            display: block;
                            margin-top: -6px;
                        }
                    }
                }
            }
        }
    }
}
